__pycache__
/.idea
.vscode
.env
.env.example
.DS_Store
/usage_logs
venv
.vscode/
bot/.coverage
bot/usage_logs/
bot/telegram_bot.py

test/
/unittest/__pycache__
/unittest/usage_logs
/unittest/.coverage
/unittest/htmlcov
